
:root {
  --blue: #0809a3;
  --gradient: linear-gradient(-45deg, #d1d5d8 0%, #d1d5d8 0%);
  --form: #e5e5e5;
  --border-radius: 0px;
  --form-width: 400px;
  --form-mob-width: 320px;
  }

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    font: 20px/1.5 sans-serif;
    background: var(--white);
  }

/* */
/* CSS for the about section*/

/* */

label {
  display: block;
  height:7.5vw;
}

button,
input,
textarea {
  font-family: inherit;
  font-size: 100%;
  border: 1px solid black;
}

  [type="checkbox"] {
    position: absolute;
    left: -9999px;
  }

/*CUSTOM VARIABLES HERE*/
.about-label,
.form {
  font-size: 80%;
  position: fixed;
  top: 50%;
  left: 0;
}

.about-label {
  top: 20%;
  font-size: 4vw;
  transform-origin: top left;
  transform: rotate(90deg) translate(-50%, -100%);
  z-index: 1;
}

.form {
  width: var(--form-width);
  /* max-height: 90vh;*/
  height:100%;
  transform: translate(-100%, -50%);
  padding: 30px;
  overflow: auto;
  background: var(--form);
  z-index: 1;
}

/*CUSTOM VARIABLES HERE*/

.about-label,
.form input,
.form textarea,
.form button {
  border-radius: var(--border-radius);
}

.about-label,
.form button {
  background: var(--gradient);
  color: var(--blue);
}

.about-label:hover,
.form button:hover {
  filter: hue-rotate(0deg);
}

.about-label {
  padding: 10px 100%;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  outline: 2px solid #0809a3;
}

form div:not(:last-child) {
  margin-bottom: 20px;
}

form div:last-child {
  text-align: right;
}

.form input,
.form textarea {
  padding: 0 5px;
  width: 100%;
}

.form button {
  padding: 10px 20px;
  width: 50%;
  max-width: 120px;
}

.form input {
  height: 40px;
}

.form textarea {
  height: 220px;
}

/* */
[type="checkbox"]:checked + .about-label {
    transform: rotate(90deg) translate(-50%, calc((var(--form-width) + 100%) * -1));
  }

  [type="checkbox"]:focus + .about-label {
    outline: 2px solid rgb(8, 9, 163);
  }

  [type="checkbox"]:checked ~ .form {
    transform: translate(0, -50%);
  }

  .about-label,
  .form {
    transition: all 0.35s ease-in-out;
  }

  *, *::after, *::before {
    box-sizing: border-box;
  }

  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 0px;
    z-index: 10;
    background-color: white;
    width: 900px;
    height: 550px;
    max-width: 80%;
  }

  .modal.active {
    transform: translate(-50%, -50%) scale(1);
  }

  .modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    background: #0809a3;
  }

  .modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
    color: white;
  }

  .modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
    color: white;
  }

  .modal-body {
    padding: 10px 15px;
  }

  #overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
  }

  #overlay.active {
    opacity: 0;
    pointer-events: all;
  }

  #container
      {
        text-align: center;
      }

  #sideNote{
  text-align: left;
  padding-top: 10px;
  padding-left:15px;
  padding:right: 20px;
  left: 10px;
  height: calc(100% - 150px);
  border: 2px solid black;
}



  /*CUSTOM VARIABLES HERE*/

@media screen and (max-width: 600px) {
    body {
      font-size: 16px;
    }

    .form {
      padding: 15px;
      width: var(--form-mob-width);
    }

    form div:not(:last-child) {
      margin-bottom: 10px;
    }

    [type="checkbox"]:checked + .about-label {
      transform: rotate(-90deg) translate(50%, calc((var(--form-mob-width) + 100%) * -1));
    }
  }

.container{
  display:grid;
  grid-template-columns: 7.5% 92.5%;
  grid-template-rows: 7.5% 92.5%;
  grid-template-areas:
    "nav header "
    "nav content ";
  height: 100vh;
}

.nav{
  grid-area: nav;
  background: var(--gradient);
}

.header{
  grid-area: header;
  background: var(--gradient);
}

#top-bar{
  margin:1% 5% 1% 5%;
}

.content{
  grid-area: content;
  background: var(--gradient);
  position:relative;
}

.frame{
  background-image: url("https://512pixels.net/downloads/macos-wallpapers/10-0_10.1.png");
  background-size: cover;
  border:2px solid black;
  width:90%;
  height:95%;
  margin: 0 5% 5% 5%;
  overflow:hidden;
}

.frame_article{
  background-color: white;
  border:2px solid black;
  width:90%;
  height:95%;
  margin: 0 5% 5% 5%;
  overflow: scroll;
}

.article{
    padding: 10px;
    padding-left:5%;
    padding-right:5%;
    position:relative;
}

.article-pic{
  width: 100%;
  height:40%;
  position:relative;
}
ul{
  width: 100%;
  height: 100%;
  float:left;
  padding:10px;
  list-style: none
}

li {
  width: 23.33%;
  min-width:200px;
  height:15%;
  margin: 6% 5% 6% 5%;
  float: left;
  position: relative;
  text-align: center;
}

li.p{
  font-size:60%;
}

img {
	-webkit-transition: .8s;
  max-width: 100%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
